<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around center" fxLayoutGap="10px" *ngIf="dish">

  <mat-card *ngIf="dish" fxFlex>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>
        <h3>{{dish.name | uppercase}}</h3>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src={{dish.image}} alt={{dish.name}}>
    <mat-card-content>
      <p>{{dish.description}}
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="promotion" fxFlex>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>
        <h3>{{promotion.name | uppercase}}</h3>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src={{promotion.image}} alt={{promotion.name}}>
    <mat-card-content>
      <p>{{promotion.description}}
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card fxFlex>
      <mat-card-header>
          <mat-card-title>
            <h3>{{lead[3].name | uppercase}} </h3>
          </mat-card-title>
      </mat-card-header>
      <img matCardImage src="{{lead[3].image}}" alt="image">
      <mat-card-content>
        {{lead[3].description}}
      </mat-card-content>

  </mat-card>

</div>
<div fxFlex [hidden]="dish">
  <mat-spinner></mat-spinner>
  <h4>Loading... Please wait...!</h4>
</div>
